#content {
    overflow-x: hidden;
}

.section-1 {
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    background: url(/img/wonderful_nature_1920x1080.jpg) center center fixed;
    background-size: cover;
    color: #ddd;
    text-shadow: 3px 4px #333;
}


/*
#background-img {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -100;
}
*/

.MapIt {
    color: beige;
    font-size: 8em;
    font-family: 'Pacifico', cursive;
}

#search-container {
    height: 400px;
    background: rgba(0, 9, 0, 0.8);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

#search-bar {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 20px;
}

#attraction-container {
    height: 500px;
    background-color: peachpuff;
}

#map {
    height: 500px;
}

.default-text {
    font-family: 'Times New Roman;

}

.search-btn {
    padding-top: 62px !important;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 20px;
}