#content {
    overflow-x: hidden;
}

.section-1 {
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    background: url(./../img/background.jpg) center center fixed;
    background-size: cover;
    color: #ddd;
    text-shadow: 3px 4px #333;
}


/*
#background-img {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -100;
}
*/

.MapIt {
    margin-top: 80px;
    color: beige;
    font-size: 8em;
    font-family: 'Pacifico', cursive;
}

.default-text {
    font-family: 'Nunito', sans-serif;
}

#search-container {
    height: 500px;
    background: rgba(0, 9, 0, 0.8);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}

#search-bar {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 20px;
}

#attraction-container {
    height: 1000px;
    background-color: #C2D3CD;
}

.location-col {
    text-align: center;
}

#map {
    height: 500px;
}

.default-text {
    font-family: 'Times New Roman;

}

.window-text {
    font-size: 14px;
}

.place-title {
    font-size: 18px;
}

.search-btn {
    padding-top: 62px !important;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 20px;
}