#content {
    overflow-x: hidden;
}

.section-1 {
    height: 100vh;
    min-height: 100%;
    max-height: 100%;
    background: url(/img/wonderful_nature_1920x1080.jpg) center center fixed;
    background-size: cover;
    color: #ddd;
    text-shadow: 3px 4px #333;
}

.MapIt {
    color: beige;
    font-size: 8em;
    font-family: 'Pacifico', cursive;
}

#map {
    height: 100vh;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    background-size: cover;
    margin-top: -20px;
}

.default-text {
    font-family: 'Pacifico';
}

.search-btn {
    padding-top: 62px !important;
}